body {
  font-family: 'Lato';
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.number {
  color: #fbb648;
  font-weight: 100;
}

@import 'vendor/normalize';
@import 'partials/navbar';
@import 'partials/menu_overlay';
@import 'partials/header';
@import 'partials/services';
@import 'partials/typography';
